@{
    ViewBag.title = "About us";
    //Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="price-img " id="top">	<img src="~/img/hero-banner-img.png"></div>


<section class="container-fluid faq">
    <div class="container">

        <h1>
            A Few words about us
        </h1>
        <div class="faqlogo">
            <hr><img src="~/img/forma-1-copy-5.png"><hr>
        </div>
        <div class="dataaboutus"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis tempor. Duis vestibulum vel risus condimentum dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus quis enim orci. Fusce risus lacus, sollicitudin eu magna sed, pharetra sodales libero. Proin tincidunt vel erat id porttitor. Donec tristique est arcu, sed dignissim velit vulputate ultricies. <br><br>Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Vivamus eget mauris eget nisl euismod volutpat sed sed libero. Quisque sit amet lectus ex. Ut semper ligula et mauris tincidunt hendrerit. Aenean ut rhoncus orci, vel elementum turpis. Donec tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus lobortis. In hac habitasse platea dictumst. Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue, posuere sed neque eget, aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac, vehicula placerat lorem.</p></div>
    </div>
</section>
<section class="container-fluid faq">
    <div class="container">

        <h1>
            Our Story
        </h1>
        <div class="faqlogo">
            <hr><img src="~/img/forma-1-copy-5.png"><hr>
        </div>
        <div class="dataaboutus"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis tempor. Duis vestibulum vel risus condimentum dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus quis enim orci. Fusce risus lacus, sollicitudin eu magna sed, pharetra sodales libero. Proin tincidunt vel erat id porttitor. Donec tristique est arcu, sed dignissim velit vulputate ultricies.<br><br> Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Vivamus eget mauris eget nisl euismod volutpat sed sed libero. Quisque sit amet lectus ex. Ut semper ligula et mauris tincidunt hendrerit. Aenean ut rhoncus orci, vel elementum turpis. Donec tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus lobortis. In hac habitasse platea dictumst. Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue, posuere sed neque eget, aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac, vehicula placerat lorem.</p></div>
    </div>
</section>


<div class="email">
    <h3>GET OUR NEWSLETTER</h3>
    <input type="text" placeholder="YOUR EMAIL" name="Mail">
    <button>Submit</button>
</div>
<script type="text/javascript" src="~/JS/main.js"></script>
