@{
    ViewBag.Title = "Contact us";
    //Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="price-img " id="top">	<img src="~/img/group-16_2.png"></div>
<section class="container-fluid faq">
    <div class="container">

        <h1>
            Contact us
        </h1>
        <div class="faqlogo">
            <hr><img src="~/img/forma-1-copy-5.png"><hr>
        </div>

    </div>
</section>

<section class="container-fluid Contactus-page1">
    <div>
        <img src="~/img/forma-1_2.png">
        <p>1111 Lorem ipsum text 100, Lorem ipsum AB</p>
    </div>
    <div>
        <img src="~/img/phone-call.png">
        <p>+49 (40) 123 56 7890</p>
        <p>+49 (40) 987 56 0000</p>
    </div>
    <div>
        <img src="~/img/vector-smart-object (1).png">
        <p>info@helperland.com</p>
    </div>
</section>


<section class="container-fluid Contactus-page2">
    <h3>Get in touch with us</h3>
    <form method="post">
        <div class="row formrow1">
            <div class="col-lg-3">
                <input type="text" class="form-control" placeholder="First name" aria-label="First name">
            </div>
            <div class="col-lg-3">
                <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
            </div>
        </div>

        <div class="row formrow2">
            <div class="col-lg-3">
                <label class="visually-hidden" for="specificSizeInputGroupUsername">Username</label>
                <div class="input-group">
                    <div class="input-group-text">+91</div>
                    <input type="tel" class="form-control" id="specificSizeInputGroupUsername" placeholder="Mobile Number">
                </div>
            </div>
            <div class="col-lg-3">
                <input type="email" class="form-control" placeholder="Email Address" aria-label="Last name">
            </div>
            <div class="row formrow3">
                <div class="col-lg-5">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Subject</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="row formrow4">
                <div class="col-lg-5">
                    <textarea placeholder="Message"></textarea>
                </div>

            </div>
            <div class="submit formrow5">
                <button type="submit">Submit</button>
            </div>

        </div>
    </form>
</section>


<section class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1280.8137790591757!2d8.79608058586818!3d50.05580786415826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bd12f7f864252f%3A0x52ddb2f4237f8ffc!2zUmjDtm4tWsO8Z2xlIGUuVi4!5e0!3m2!1sen!2sin!4v1638953276497!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>
<div class="email">
    <h3>GET OUR NEWSLETTER</h3>
    <input type="text" placeholder="YOUR EMAIL" name="Mail">
    <button>Submit</button>
</div>

