@model Helperland.Models.UpdatepasswordModel
@{
    ViewBag.Title = "Update Password";
    //Layout = "~/Views/Shared/_Layout1.cshtml";
}

<section class="container-fluid faq">
    <div class="container">

        <h1 class="createaccountheadding">
            Update Password
        </h1>
        <div class="faqlogo">
            <hr><img src="~/img/forma-1-copy-5.png"><hr>
        </div>
        <h2 class="createaccountheadding" style="margin-bottom:29px;">
            Your EmailAddress is: @ViewBag.emailupdatepass
        </h2>
    </div>
</section>

<section class="container-fluid row  justify-content-center align-items-center">
    <div class=" col-lg-3 col-md-2 col-sm-1 "></div>
    <div class=" col-lg-5  col-md-6 col-sm-8">
        <form asp-action="forgotpassword"asp-controller="Home">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
           
                    <input type="hidden" asp-for="Email" class="form-control" value="@ViewBag.emailupdatepass">
               
            <div class="row formrow1">
                <div class="col-lg-3 form-group">
                    <input asp-for="Password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-lg-3 form-group">
                    <input asp-for="Confirmpwd" class="form-control" placeholder="Confirm Password" />
                    <span asp-validation-for="Confirmpwd" class="text-danger"></span>
                </div>
            </div>

            
            <div class="submit formrow5 text-center">
                <button type="submit">Submit</button>
                @*<input type="submit" value="Create" class="btn btn-primary" />*@
            </div>
        </form>
    </div>
    <div class=" col-lg-3 col-md-2 "></div>
</section>